.contact-profile {
    width: 70%;
    border: 2px solid grey;
    border-radius: 10px;
    color: darkgrey;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
}

.fullname {
    cursor: pointer;
    color: white;
}

.contact-profile-img {
    cursor: pointer;
    border-radius: 100%;
    width: 150px;
}